/*This file is for everything similar between all the pages. If you are looking for something only shared between a few of the pages and not all go to the general css folder.*/

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f1eb;
    display: grid;
}
main {
    display: grid;
}
h1 {
    padding: 1em;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
}
h2 {
    width: 100%;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
}
h3 {
    width: 100%;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1.75rem;
}
h4 {
    width: 100%;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
}
h5 {
    width: 100%;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    text-decoration: underline;
    text-shadow: 0 0 0.1em #1a1a1a;
}
p {
    font-size: 1rem;
}
#topBar {
    position: sticky;
    top: 0;
    height: 4em;
    display: block;
    margin: 0 0 3em 0;
    z-index: 13;
    grid-row: 1/2;
}
#menu {
    display: none;
}
#logo {
    box-shadow: 0 0 0.3em black;
    float: left;
    z-index: 14;
}
nav {
    display: grid;
    background: #272626;
    display: grid;
}
nav > ul {
    display: grid;   
    grid-template-columns: repeat(5, auto);
    box-shadow: 0 0.1em 0 #0000005b;
}
nav > ul > li {
    text-align: center;
    display: grid;
}
nav > ul > li > a {
    display: grid;
    justify-content: center;
    align-items: center;
    color: #CBCBD3;
    text-transform: uppercase;
}
nav > ul > li > a:hover {
    color: white
}
nav > ul > li > a > span {
    padding: 1.5em 0.5em;
}
nav > ul > li.tab {
    border-bottom: solid;
    border-bottom-width: 0.3em;
    border-color: #CBCBD3;
}
footer {
    display: grid;
    padding: 5em 0;
}
footer > p {
    padding: 0.5em 2em;
}
@media(max-width: 1000px) {
    #topBar > nav {
        display: none;
    }
    #menu {
        display: grid;
    }
}
@media(max-width: 870px) {
    nav {
        box-shadow: 0 0 0.5em black;
        grid-template-rows: 1fr;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.5rem;
    }
}
@media(max-width: 655px) {
    nav {
        margin: 0 0 1em 0;
    }
    h1 {
        padding: 0 0 0.5em 0;
    }
}
@media(max-width: 560px) {
    h2 {
        display: none;
    }
}
@media(max-width: 460px) {
    h1 {
        padding: 0;
        font-size: 2.5rem;
    }
}
@media(max-width: 360px) {
    h1 {
        font-size: 1.8rem;
    }
}

@media(max-width: 290px) {
    h1 {
        font-size: 1.2rem;
    }
}