/*This file is for the javascript created section that you switch through photos only.*/

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

#photoSwapper {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-template-rows: 426px min-content;
    grid-template-areas: 
        "lb pic rb"
        ". desc .";
    justify-content: center;
    align-items: center;
    height: min-content;
}

#imgContainer {
    /* width: 960px; */
    height: 100%;
    grid-area: pic;
    display: grid;
    justify-content: center;
    align-items: center;
}

#imgContainer > img#swapperIMG {
    max-width: 80vw;
}

#photoSwapper .swapperBTN {
    padding: 2em 1em;
    font-family: 'Titan One', cursive;
    font-size: 2em;
    cursor: default;
    color: #414040;
    height: 100%;
    width: 100%;
    text-align: center;
    user-select: none;
}

#photoSwapper .swapperBTN:hover {
   color: #747272;
}

#photoSwapper span:nth-of-type(1) {
    width: 100%;
    grid-area: lb;
    display: grid;
}

#photoSwapper .left {
    justify-self: start;
}

#photoSwapper span:nth-of-type(2) {
    width: 100%;
    grid-area: rb;
    display: grid;
}

#photoSwapper .right {
    justify-self: end;
}

#photoSwapper > p {
    margin: 1em 0;
    grid-area: desc;
    justify-self: center;
}

@media(max-width: 1120px) {
    /* #imgContainer{
        width: 640px;
    }

    #swapperIMG {
        max-width: 640px;
    }*/
}

@media(max-width: 815px) {
    #photoSwapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 319.5px min-content min-content;
        grid-template-areas: 
        "pic pic"
        "lb rb"
        "desc desc";
    }

    #photoSwapper span {
        background: white;
        box-shadow: 0 0 0.2em #555555;        
    }

    #photoSwapper .swapperBTN {
        padding: 0;
    }

    #photoSwapper .left, #photoSwapper .right {
        justify-self: center;
    }
    /* #imgContainer{
        width: 480px;
    }

    #swapperIMG {
        max-width: 480px;
    } */
}

@media(max-width: 560px) {
    #photoSwapper {
        grid-template-rows: 173.06px min-content min-content;
    }
    /* #imgContainer{
        width: 260px;
    }

    #swapperIMG {
        max-width: 260px;
    } */
}

@media(max-width: 290px) {
    #photoSwapper {
        grid-template-rows: 119.81px min-content min-content;
    }
    /* #imgContainer{
        width: 180px;
    }

    #swapperIMG {
        max-width: 180px;
    } */
}