
h1 {
    padding: 1em .5em .5em .5em;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;

}
h1 > span {
    width: max-content;
}
#hArticle {
    padding: 3em 0 1em 0;
    display: grid;
    justify-self: center;
    width: 90vw;
}
#hArticle > p {
    line-height: 1.5em;
    background: white;
    padding: 2em;
    box-shadow: 0 0 0.2em #555555;
}

@media(max-width: 1000px) {
    #soak {
        display: none;
    }
}

@media(max-width: 655px) {
    #hArticle{
        justify-self: start;
        padding: 3em 3em 1em 3em;
    }
}
@media(max-width: 560px) {
    #hArticle {
        padding: 1em 3em 1em 3em;
    }
    body > #hArticle > p {
        display: none;
    }
}
@media(max-width: 460px) {
    #hArticle {
        padding: 1em;
        justify-self: center;
    }
}