h1 {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;

}
h1 > span {
    width: max-content;
}
#showcase {
    width: minmax(400px, 100%);
    display: grid;
    justify-content: center;
}
#gallery {
    grid-row: 3/4;
    background: white;
    display: flex;
    gap: 1px;
    width: min-content;
    margin: 1px;
}

#gallery > li {
    list-style: none;
    line-height: 0;
}
#placeholder {
    margin: 1px;
    width: minmax(460px, min-content);
}
#description {
    margin: 1em 0;
}
#hArticle {
    padding: 3em 3em 1em 3em;
    display: grid;
    justify-self: center;
}
#hArticle > p {
    line-height: 1.5em;
    background: white;
    padding: 2em;
    box-shadow: 0 0 0.2em #555555;
    max-width: 140ch;
}
#contact {
    width: 100%;
    margin: 4em 0;
    padding: 0 4em;
    display: grid;
    grid-template-areas: 
    "cs  design fab"
    "loc loc    loc";
    gap: 1em;
}
#contact > div {
    background: white;
    padding: 2em;
    box-shadow: 0 0 0.2em #555555;
}
#contactGeneral {
    display: none;
    grid-area: general;
}
#contactCService {
    grid-area: cs;
}
#contactDesign{
    grid-area: design;
}
#contactFabInst{
    grid-area: fab;
}
#contactLocation {
    grid-area: loc;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#contactLocation > iframe {
    width: 10em;
    height: 10em;
}
@media(max-width: 1000px) {
    #placeholder {
        width: 654px;
    }
    #soak {
        display: none;
    }
}
@media(max-width: 855px) {
    #contact {
        grid-template-areas: "general" "loc";
    }
    #contactGeneral {
        display: grid;
    }
    #contactCService, #contactDesign, #contactFabInst {
        display: none;
    }
}
@media(max-width: 655px) {
    #placeholder {
        width: 460px;
    }
    #hArticle{
        justify-self: start;
        padding: 3em 3em 1em 3em;
    }
}
@media(max-width: 560px) {
    #hArticle {
        padding: 1em 3em 1em 3em;
    }
    body > #hArticle > p {
        display: none;
    }
}
@media(max-width: 460px) {
    #placeholder {
        width: 450px;
    }
    #hArticle {
        padding: 1em;
        justify-self: center;
    }
}