h1 {
    display: none;
}

#display {
    position: fixed;
    top: 7em;
    justify-self: center;
    height: 60vh;
    width: 60vw;
    display: grid;
    justify-content: center;
    align-items: center;
}

#display > img {
    max-width: 100%;
}

@media(max-width: 1000px) {
    #display {
        width: 90vw;
    }
}