/*This file is for the javascript created section that you switch through photos only.*/

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

#photoSwapper {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-template-rows: 30em min-content;
    grid-template-areas: 
        "lb pic rb"
        ". desc .";
    justify-content: center;
    align-items: center;
    height: min-content;
}

#imgContainer {
    width: 80vw;
    grid-area: pic;
    display: grid;
    justify-content: center;
    align-items: center;
}

#imgContainer > img#swapperIMG {
    max-width: 80vw;
}

#photoSwapper .swapperBTN {
    padding: 2em 1em;
    font-family: 'Titan One', cursive;
    font-size: 2em;
    cursor: default;
    color: #414040;
    height: 100%;
    width: 100%;
    text-align: center;
    user-select: none;
}

#photoSwapper .swapperBTN:hover {
   color: #747272;
}

#photoSwapper span:nth-of-type(1) {
    width: 100%;
    grid-area: lb;
    display: grid;
}

#photoSwapper .left {
    justify-self: start;
}

#photoSwapper span:nth-of-type(2) {
    width: 100%;
    grid-area: rb;
    display: grid;
}

#photoSwapper .right {
    justify-self: end;
}

#photoSwapper > p {
    margin: 1em 0;
    grid-area: desc;
    justify-self: center;
}

@media(max-width: 815px) {
    #photoSwapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "pic pic"
        "lb rb"
        "desc desc";
    }

    #photoSwapper span {
        background: white;
        box-shadow: 0 0 0.2em #555555;        
    }

    #photoSwapper .swapperBTN {
        padding: 0;
    }

    #photoSwapper .left, #photoSwapper .right {
        justify-self: center;
    }
}

@media(max-width: 650px) { 
    #imgContainer {
        width: 100vw;
    }
    
    #imgContainer > img#swapperIMG {
        max-width: 100vw;
    }
}

@media(max-width: 400px) { 
    #photoSwapper {
         grid-template-rows: 35vh min-content;
    }
}

@media(max-width: 300px) { 
    #photoSwapper {
         grid-template-rows: 25vh min-content;
    }
}